# IDE
.idea
.vscode

# Environment
.venv/

.pytest_cache/

# Test temporary files
testdata/
# Model JSON files written by tests (regenerated with new random UIDs on each run); depending on the working dir.
# Note: do not ignore objectbox-model.json in general; apps (e.g. examples) shall commit theirs.
/objectbox-model.json
/test.json
/tests/objectbox-model.json
/tests/test.json
/tests/test-model*.json

# ObjectBox databases from example
*.mdb

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
**/__pycache__
env/
doc/_build
